/* Fontes */
@font-face {
    font-family: Poppins;
    src: url('../css/fonts/Poppins-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f7f6f2;
}

section{
    padding: 28px 8%;
}

/* header */
header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #f7f6f2;
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar img{
    width: 65px;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item a{
    text-decoration: none;
    font-weight: 600;
    color: #1d1d1d;
    border-bottom: 3px solid #647d5c;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

/* Botão */
.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #647d5c;
    color: #fff;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover{
    background-color: #45573f;
}

/* home */
#home{
    display: flex;
    min-height: calc(100vh - 84px);
    position: relative;
}

#cta {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-left: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #647d5c;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: #fff;
}

#phone_button button{
    box-shadow: none;
}

.socialMedia-button{
    display: flex;
    gap: 18px;
}

.socialMedia-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.socialMedia-button a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 90%;
}

#banner img {
    height: 100%;
    width: fit-content;
}

/* Linha de divisão */
.divisao{
    background-color: hsla(104, 28%, 71%, 50%);
    height: 2px;
}

/* Tem Mais */
.mais{
    display: flex;
    justify-content: center;
    background-color: hsla(104, 28%, 71%, 50%);
}

.mais__grid{
    padding: 60px 20px 90px;
    max-width: 1205px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.mais__titulo{
    color: #45573f;
    font-size: 50px;
    font-weight: 500;
}

.mais__itens{
    display: flex;
    flex-wrap: wrap;
}

.mais__item{
    width: 100%;
    max-width: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.mais__item__titulo {
    color: #45573f;
    font-weight: 800;
    font-size: 20px;
}

.mais__item__texto {
    font-size: 14px;
    color: #45573f;
    display: flex;
    flex-direction: column;
}

/* Slider */
#carr{
    margin-top: 25px;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #45573f;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #45573f;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.naviagtion-auto div{
    border: 2px solid #45573f;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.naviagtion-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.naviagtion-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .naviagtion-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .naviagtion-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .naviagtion-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .naviagtion-auto .auto-btn4{
    background-color: #fff;
}

/* Camera */
#camera img{
    width: 50vh; 
}
#camera p{
    font-size: 3vh; 
    color: #000;
}
#camera .secao{
    margin: 0;
    height: auto;
    width: 100%;
}
#camera .secao-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    align-items: stretch;
    justify-content: center;
}
#camera #area-camera .secao-div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.5%;
}
#camera #area-camera .secao-div-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 55%;
}
#camera #area-funcao .secao-div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.5%;
}
#camera #area-funcao .secao-div-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
}

/* Formulario */
.formulario {
    position: relative;
    width: 100%;
}

.formulario .formulario-wrapper {
    width: 100%;
    max-width: 423px;
    height: 100%;
    display: block;
    margin: 0 auto;
    top: 0;
    right: 10%;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #CCC;
}

.formulario .formulario-wrapper h2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 38px;
}

.formulario .formulario-wrapper h2 sup {
    font-size: 50%;
}

.formulario .formulario-wrapper h3 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 23px;
}

.formulario .formulario-wrapper h3 span {
    display: inline;
    width: auto;
    margin: auto;
    text-align: left;
    font-size: inherit;
}

.formulario .formulario-wrapper .formulario-calculadora {
    display: block;
    width: 80%;
    margin: 30px auto 20px;
    max-width: 350px;
}

.formulario .formulario-wrapper .formulario-calculadora a {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #45573f;
    color: #FFF;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.formulario .formulario-wrapper .formulario-calculadora a:hover {
    background-color: #1c3213;
}

.formulario .formulario-wrapper .formulario-calculadora.desktop {
    display: block;
}

.formulario .formulario-wrapper span {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.formulario .formulario-wrapper .formulario-c2c-phone {
    display: block;
    width: 80%;
    margin: 5px auto 12px;
    height: 58px;
    line-height: 56px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 30px;
    padding: 0 4px;
    max-width: 350px;
    clear: both;
}

.ddd-text {
    font-size: 12px;
    text-align: center;
    margin: 0 20px 10px;
}

.formulario .formulario-wrapper .formulario-c2c-phone select {
    border: none;
    outline: none;
    width: 23%;
    float: left;
    display: block;
    line-height: 58px;
    background-color: transparent;
    padding-left: 10px;
    text-align: center;
    height: 60px;
    cursor: pointer;
}

.formulario .formulario-wrapper .formulario-c2c-phone.form-DDD select {
    width: 18%;
}

.formulario .formulario-wrapper .formulario-c2c-phone input {
    border: none;
    outline: none;
    width: 57%;
    float: left;
    display: block;
    line-height: 58px;
    background-color: transparent;
    padding: 0 0 0 20px;
    text-align: left;
    height: 56px;
}

.formulario .formulario-wrapper .formulario-c2c-phone.form-DDD input {
    width: 39%;
    padding: 0 0 0 15px;
}

.formulario .formulario-wrapper .formulario-c2c-phone .formulario-c2c-boton {
    display: block;
    width: 43%;
    overflow: hidden;
    float: right;
}

.formulario .formulario-wrapper .formulario-c2c-phone .formulario-c2c-boton button {
    background-color: #45573f;
    color: #FFF;
    border: none;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 14px;
    width: 100%;
}

.formulario .formulario-wrapper .formulario-c2c-phone .formulario-c2c-boton button:hover {
    background-color: #1c3213;
}

.formulario .formulario-wrapper .formulario-top-inputs {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

.formulario .formulario-wrapper .formulario-c2c-input-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.formulario .formulario-wrapper .formulario-c2c-no-button {
    display: inline-block;
    width: 48%;
    margin: 5px auto 12px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 30px;
    padding: 0;
    max-width: 350px;
}

.formulario .formulario-wrapper .formulario-c2c-no-button input {
    border: none;
    outline: none;
    width: 100%;
    float: left;
    display: block;
    line-height: 58px;
    background-color: transparent;
    padding-left: 0;
    text-align: center;
    height: 60px;
}

.formulario .formulario-wrapper .formulario-c2c-no-button-left {
    float: left;
}

.formulario .formulario-wrapper .formulario-c2c-no-button-right {
    float: right;
}

.formulario .formulario-wrapper .formulario-privacidad {
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.formulario .formulario-wrapper .formulario-privacidad span {
    display: inline;
    width: auto;
    margin: auto;
    font-size: 12px;
}

.formulario .formulario-wrapper .formulario-privacidad a {
    color: #45573f;
    font-size: 12px;
}

.formulario .formulario-wrapper .formulario-privacidad a:visited {
    color: #45573f;
}

/* Rodapé */
footer{
    background-color: hsla(104, 28%, 71%, 50%);
}

#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright{
    color: #1d1d1d;
    font-weight: 500;
}

/* Responsivo */
@media screen and (max-width: 1170px){
    #nav_list, 
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav_item{
        list-style: none;
        text-align: center;
    }

    #home{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .slider{
        display: none;
    }

    #camera img{
        width: 35vh;
    }

    #camera p{
        font-size: 2vh;
    }

    .secao-div-texto p{
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    #phone_button button{
        display: none;
    }
}

@media screen and (max-width: 600px){
    #footer_items{
        flex-direction: column;
        gap: 20px;
    }
}